body {
  height: 100dvh;
  width: 10dvw;
  margin: 0;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  animation: gradientAnimation 9s ease infinite;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  transition: filter 1s ease, transform 1s ease;
  mask-image: radial-gradient(circle, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  mask-size: 100%;
  mask-position: center;
}

#image-track > .image:hover {
  filter: grayscale(0%);
  mask: none;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

@keyframes gradientAnimation {
  0% {
    background-size: 200% 200%;
    background-position: center;
  }
  50% {
    background-size: 300% 300%;
    background-position: center;
  }
  100% {
    background-size: 200% 200%;
    background-position: center;
  }
}
